<h1>Editing classroom</h1>

<%= render 'form' %>

<%= link_to 'Show', @classroom, :class => 'btn btn-large btn-primary'   %> 
<%= link_to 'Back', classrooms_path, :class => 'btn btn-large btn-primary' %>
