
<h1>Courses I have booked:</h1>
<br>
<% @enrollments.collect do |enrollment| %> 
<div class="allusers">

<h1><strong><%= enrollment.course.try :name %></strong></h1>

<h3>Course-Start: </h3>
<p><%= enrollment.course.start_date %></p>

<h3>Course-End: </h3>
<p><%= enrollment.course.end_date %></p>

<br>
<%= link_to 'Cancel my enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-large btn-primary' if can? :destroy, Enrollment %>




    </div>
  <br>
  <br>



  <% end %>

<br>